<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="zh-CN">
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div align="center">
    <hr style="height:10px;border:none;border-top:10px groove skyblue;"/>
    <form th:action="@{/plan/login}" method="post">
        <span>姓名：</span>
        <input type="text" name="username">
        <input type="submit" value="查看">
    </form>
    <hr style="height:10px;border:none;border-top:10px groove skyblue;"/>
</div>
</body>
</html>